// Design System Tokens

// Fonts
$fontFamilyPrimary: "Open Sans", sans-serif;
$fontFamilySecondary: "name", sans-serif;
$fontWeightRegular: 400;
$fontWeightBold: 800;
$fontStyle: normal;


// Colors
$colorPrimary:#e6b800;
$colorSecondary: #7d22b2;
$colorTertiary: #b82c4f;

$colorBgPrimary:#0D0D0D;
$colorBgSecondary:#2B2B2B;

$colorDark:#2B2B2B;
$colorMid:#9e8619;
$colorLight: #f0f0f0;

// Screen Sizes
$mobile:480px;
$tablet:768px;
$desktop:1024px;


// Spacing
$spaceBig: 10rem;
$spaceRegular: 5rem;
$spaceSmall: 2.5rem;
$spaceTiny: 1rem;